dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
small.c
small.o
small.c.old
small.c.orig
small.c.simple
test1.sh
test/*
Arst.hs
test-cases/**/*.txt
*.rhs
*.hs.orig