dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
small.c
small.o
small.c.old
small.c.orig
small.c.simple
test1.sh
Arst.hs
test-cases/**/*.txt
test-cases/**/*.nix
test-cases/**/*.swp
*.rhs
*.hs.orig
debug
debug/*
debug_*
output.txt
error.txt
*.swp
*.hie
*_hsreduce.hs
Undefined.hs
Undefined.hi
Undefined.o
Bug
hsreduce_timing.csv
hsreduce_statistics.csv
hsreduce_performance.csv
Bug.stale.hs
*.hs.stale_state
hsreduce.log